VITE_SUPABASE_URL=https://luoccetkyufrqlkfesav.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1b2NjZXRreXVmcnFsa2Zlc2F2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyODU4NjMsImV4cCI6MjA5Njg2MTg2M30.-9u76jNckT_KWUpbFdF5Zy9EZG5e9hm2PaC5hytRZv8